{% macro category_card(category_title, category_image, category_endpoint) %}
<div class="my-1 px-1 w-full md:w-1/3 lg:my-4 lg:px-4 lg:w-1/4 md:w-1 sm:w-1/2 transform transition duration-500 hover:scale-110">
    <a href="/category/{{ category_endpoint }}">
    <article class="overflow-hidden rounded-lg shadow-lg">
            <img alt="" class="block h-auto w-full" src="{{ url_for('static', filename=category_image) }}"> 
            <header class="flex items-center justify-between leading-tight p-4 md:p-8">
                <h1 class="text-lg mx-auto font-family-raleway font-bold">
                        {{category_title}}
                </h1>

                <!-- https://picsum.photos/600/400/?random -->

                <!-- <p class="text-grey-darker text-sm">
                    11/1/19
                </p> -->
            </header>
            
            <footer class="flex items-center justify-between leading-none">
                <!-- <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                    <p class="ml-2 text-sm">
                        Author Name
                    </p>
                </a> -->
            </footer>
        </article>
    </div>
    {% endmacro %}
    
    {% macro article_card(title, image, article_endpoint) %}
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div
            class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 transform transition duration-500 hover:scale-110">
            <a href="/articles/{{ article_endpoint }}">
                <!-- <a class="text-white rounded-lg absolute inset-0 bg-black text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300">
                <h1>Title</h1>
                <p>Description</p>
                </a> -->
                <article class="overflow-hidden rounded-lg shadow-lg">
                    <img alt="" class="block h-auto w-full" src="{{ url_for('static', filename=image) }}">
                    <header class="flex items-center justify-between leading-tight p-4 md:p-8">
                        <h1 class="text-lg mx-auto">{{title}}</h1>
                    </header>
                    <footer class="flex items-center justify-between leading-none">
                    </footer>
                </article>
            </a>
        </div>
    </div>
    {% endmacro %}

    {% macro category_card_2() %}
    <div class="w-64 h-64 bg-red-100 relative">
        <div class="absolute inset-0 bg-cover bg-center z-0" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/3/3c/JumanjiTheNextLevelTeaserArticleer.jpg')"></div>
        <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-6xl text-white font-semibold">Dwayne</div>
    </div>
</a>
{% endmacro %}

{% macro category_card_3() %}
<div class="relative">
    <a class="absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300">
      <h1  class=tracking-wider >Title</h1>
      <p  class="mx-auto">Description</p>
      </a>
    <a href="#" class="relative">
        <div class="h-48 flex flex-wrap content-center">
            <img src="https://picsum.photos/600/400/?random" class="mx-auto  " alt="">
        </div>
    </a>
  </div>

{% endmacro %}