<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neko Media | Main View</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        * {
            cursor: default;
        }
        
        body {
            background-color: #3b3b3b;
        }
        
        .card-content p {
            color: white;
        }
        
        .card-title {
            color: white;
            user-select: none;
        }
    </style>
</head>

<body>
    <div class="row">
        {% for entry in data %}
        <div class="col s12 m2">
            <div class="card">
                <a href="#" onclick="copyFileLink()">
                    <div class="card-image">
                        <img src="{{ entry.anime }}.jpg">
                    </div>
                    <div class="card-content teal">
                        <span class="card-title">SEASON {{ entry.season }}</span>
                        <!-- <p>EPISODE {{ entry.episode }}</p> -->
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        function copyFileLink() {
            let copyText = "D:/Open-Source/Neko Media/src/test-dir/SERIES/Ramna/01_here's_ranma.mkv"
            navigator.clipboard.writeText(copyText)
            document.execCommand("copy");
            M.toast({
                html: 'File link copied. Paste into File Explorer to open media file',
                classes: 'rounded blue'
            })
        }
    </script>
</body>

</html>